body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3em;
}

#armony-selector {
height: 2em;
width: 40%;
align-self: center;
}

#allcolor {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
}

.color-wrapper>* {
    width: 100px;
    height: 100px;
}

#color1 {
background-color: black
}
#color2 {
  background-color:black;  
}
#mainColor {
 background-color:black;   
}
#color3 {
   background-color: black 
}
#color4 {
   background-color: black; 
}



